@import '~@fortawesome/fontawesome-free/css/all.css';


.montserrat {
    font-family: "Montserrat", sans-serif;
  }
.work-sans {
    font-family: "Work Sans", sans-serif;
  }

.poppins {
    font-family: "Poppins", sans-serif;
  }
.oxygen-mono {
    font-family: "Oxygen Mono", monospace;
  }
